<?php

return [
    'doctrine' => [
        'connection' => [
            'orm_default' => [
                'params' => [
                    'host' => '',
                    'user' => '',
                    'password' => '',
                    'dbname' => '',
                ],
            ],
        ],
    ],
];
